* {
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 109vh;
}
.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}
.icon {
  width: 200px;
  float: left;
  height: 70px;
}
.logo {
  font-size: 35px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
.menu {
  width: 400px;
  float: left;
  height: 70px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-self: center;
}

ul li {
  list-style: none;
  margin-right: 62px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman";
  font-weight: bold;
  transition: 0, 4s ease-in-out;
}
.head {
  background-image: url(https://media.istockphoto.com/id/509040338/fr/photo/noir-et-blanc-et-vintage-%C3%A0-la-guitare-%C3%A9lectrique.jpg?s=612x612&w=is&k=20&c=IWHscZBoYQP5VL1TJxuuRPO8c4LpJYKSTdOhljNYenA=);
}
nav {
  text-align: left;
  float: inline-end;
  display: flex;
  align-items: center;
}
